/* --- Start General Styles --- */
@font-face 
{
    font-family: Elephant;
    src: url(../assets/fonts/ELEPHNT.TTF);
}

@font-face 
{
    font-family: HelveticaNeue;
    src: url(../assets/fonts/HelveticaNeue.otf);
}

#digiCleanse
{
    position: absolute;
    top: 25vh;
    right: 15px;
    width: 120px;
    height: auto;
}

/* width */
::-webkit-scrollbar 
{
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track 
{
    box-shadow: inset 0 0 5px white; 
    border-radius: 10px;
}   

/* Handle */
::-webkit-scrollbar-thumb 
{
    background: #cc3300; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
    background: #cc3300; 
}

.scrollable-element {
    scrollbar-width: thin;
  }

sup
{
    font-size: 10px;
}

body
{
    overflow: hidden;
}

#homeTitle
{
    font-family: Elephant;
    font-size: 25px;
    z-index: 1000;
    position: absolute;
    bottom: 2vh;
    left: 1.5vw;
}

.preloadImages
{
    display: none;
}

#base
{
    width: 100vw;
    height: 100vh;
    position: relative;
}

#baseMap
{
    width: 90%;
    height: 90%;
    position: relative;
    top: 5vh;
    z-index: 0;
}

.loader-wrapper 
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.loader 
{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #CA5127;
    animation: loader 2s infinite ease;
}

.loader-inner 
{
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #CA5127;
    animation: loader-inner 2s infinite ease-in;
}


@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }

.keys
{
    position: absolute;
    top: 0.5vw;
    width: 3vw;
    height: auto;
}

#t_key
{
    right: 92vw;
}

#t_key:hover
{
    cursor: pointer;
}


#a_key
{
    right: 87vw;
}

#a_key:hover
{
    cursor: pointer;
}

#w_key
{
    right: 82vw;
}

#w_key:hover
{
    cursor: pointer;
}

#g_key
{
    right: 77vw;
}

#g_key:hover
{
    cursor: pointer;
}

#magnify
{
    fill: #4D4D4D;
    width: 4vw;
    height: 4vh;
    position: absolute;
    left: 0.5vw;
    top: 1vw;
    z-index: 900;
}

#magnify:hover
{
    cursor: pointer;
}

#home
{
    fill: #4D4D4D;
    width: 4vw;
    height: 4vh;
    position: absolute;
    left: 94vw;
    top: 2vw;
    z-index: 900;
}

#home:hover
{
    cursor: pointer;
}

#close
{
    fill: #CA5127;
    width: 10vw;
    height: 10vh;
    position: relative;
    left: 35vw;
    z-index: 100;
}

.closeClass
{
    fill: #CA5127;
    width: 10vw;
    height: 10vh;
    position: relative;
    left: 35vw;
    z-index: 100;
}

.model
{
    left: 1vw;
}

.aClose
{
    fill: #CA5127;
    width: 10vw;
    height: 10vh;
    position: relative;
    bottom: 20vh;
    left: 85vw;
    z-index: 999;
}

.textClose
{
    bottom: 87vh;
    left: 80vw;
    z-index: 999;
}

.moreLeft
{
    left: 90vw;
}

.closeClass:hover
{
    fill: black;
    cursor: pointer;
}

/* --- End General Styles --- */


/* --- Start Styling Hover Pointers --- */

#a1
{
    width: 4vw;
    height: 4vh;
    /* background-color: black; */
    position: absolute;
    bottom: 37vh;
    left: 22vw;
    z-index: 5;
}

#a1:hover
{
    cursor: pointer;
}

#a2
{
    width: 3vw;
    height: 4vh;
    /* background-color: black; */
    position: absolute;
    bottom: 48vh;
    left: 35vw;
    z-index: 5;
}

#a2:hover
{
    cursor: pointer;
}

#a3
{
    width: 4vw;
    height: 4vh;
    /* background-color: black; */
    position: absolute;
    bottom: 65vh;
    left: 78vw;
    z-index: 5;
}

#a3:hover
{
    cursor: pointer;
}

#a4
{
    width: 4vw;
    height: 4vh;
    /* background-color: black; */
    position: absolute;
    bottom: 35vh;
    left: 75vw;
    z-index: 5;
}

#a4:hover
{
    cursor: pointer;
}

#a5
{
    width: 4vw;
    height: 4vh;
    /* background-color: black; */
    position: absolute;
    bottom: 47vh;
    left: 66vw;
    z-index: 5;
}

#a5:hover
{
    cursor: pointer;
}

#a6
{
    width: 4vw;
    height: 4vh;
    /* background-color: black; */
    position: absolute;
    bottom: 68vh;
    left: 58vw;
    z-index: 5;
}

#a6:hover
{
    cursor: pointer;
}

#t2_one
{
    width: 3vw;
    height: 55vh;
    /* background-color: black; */
    position: absolute;
    bottom: 40vh;
    left: 37vw;
    z-index: 5;
}

#t2_one:hover
{
    cursor: pointer;
}

#g6
{
    width: 3vw;
    height: 40vh;
    /* background-color: black; */
    position: absolute;
    bottom: 50vh;
    left: 25vw;
    z-index: 5;
}

#g6:hover
{
    cursor: pointer;
}

#g5
{
    width: 2.5vw;
    height: 50vh;
    /* background-color: black; */
    position: absolute;
    bottom: 45vh;
    left: 46vw;
    z-index: 5;
}

#g5:hover
{
    cursor: pointer;
}

#g8
{
    width: 2.5vw;
    height: 12vh;
    /* background-color: black; */
    position: absolute;
    bottom: 20vh;
    left: 81vw;
    z-index: 5;
}

#g8:hover
{
    cursor: pointer;
}

#t1
{
    width: 1.5vw;
    height: 27vh;
    /* background-color: black; */
    position: absolute;
    bottom: 42vh;
    left: 28vw;
    z-index: 5;
}

#t1:hover
{
    cursor: pointer;
}

#t3
{
    width: 2vw;
    height: 27vh;
    /* background-color: black; */
    position: absolute;
    bottom: 14vh;
    left: 47vw;
    z-index: 5;
}

#t3:hover
{
    cursor: pointer;
}

#t4
{
    width: 2vw;
    height: 27vh;
    /* background-color: black; */
    position: absolute;
    bottom: 14vh;
    left: 52vw;
    z-index: 5;
}

#t4:hover
{
    cursor: pointer;
}

#g2
{
    width: 1.5vw;
    height: 27vh;
    /* background-color: black; */
    position: absolute;
    bottom: 14vh;
    left: 26vw;
    z-index: 5;
}

#g2:hover
{
    cursor: pointer;
}

#g1
{
    width: 2vw;
    height: 26vh;
    /* background-color: black; */
    position: absolute;
    bottom: 15vh;
    left: 27.5vw;
    z-index: 5;
}

#g1:hover
{
    cursor: pointer;
}

#g3
{
    width: 2vw;
    height: 3vh;
    /* background-color: blue; */
    position: absolute;
    bottom: 12vh;
    left: 27.5vw;
    z-index: 5;
}

#g3:hover
{
    cursor: pointer;
}


#g7
{
    width: 2vw;
    height: 3vh;
    /* background-color: black; */
    position: absolute;
    bottom: 9vh;
    left: 27.5vw;
    z-index: 5;
}

#g7:hover
{
    cursor: pointer;
}


#g9
{
    width: 2vw;
    height: 2.5vh;
    /* background-color: black; */
    position: absolute;
    bottom: 41vh;
    left: 9.5vw;
    z-index: 5;
}

#g9:hover
{
    cursor: pointer;
}

#g4
{
    width: 16vw;
    height: 2.5vh;
    /* background-color: black; */
    position: absolute;
    bottom: 41vh;
    left: 11.9vw;
    z-index: 5;
}

#g4:hover
{
    cursor: pointer;
}


/* --- End Styling Hover Pointers --- */


/* ---Start Styling Content of Pointers ---  */

#t2_one_text
{
    display: none;
}

#t1_text
{
    display: none;
}


#t3_text
{
    display: none;
}

#t4_text
{
    display: none;
}


#a_key_text
{
    display: none;
}

#t_key_text
{
    display: none;
}

#w_key_text
{
    display: none;
}

#g_key_text
{
    display: none;
}

.subtitle
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 25px;
    font-weight: 200;
    padding-top: 10px;
    padding-bottom: 30px;
    position: relative;
    bottom: 82vh;
    left: 20vw;
    width: 60%;
}

.title
{
    font-family: Elephant;
    color: #cc3300;
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 30px;
    position: relative;
    bottom: 85vh;
    left: 20vw;
    width: 60%;
}

.key_title
{
    font-family: Elephant;
    color: #cc3300;
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 30px;
    position: relative;
    bottom: 85vh;
    left: 20vw;
    width: 60%;
    z-index: 999;
}

.text-wrapper
{
    width: 70%;
    height: 40vh;
    background-color: white;
    overflow-y: scroll;
    position: relative;
    bottom: 88vh;
    left: 18vw;
    z-index: 999;
}

.text-content
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4d4d4d;
    font-size: 20px;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
}

#g6_model
{
    position: relative;
    z-index: 10;
    bottom: 70vh;
    left: 20vw;
    width: 100vw;
    height: 100vh;
    display: none;
}

#g5_model
{
    position: relative;
    z-index: 10;
    bottom: 80vh;
    left: 20vw;
    width: 100vw;
    height: 100vh;
    display: none;
}

#g8_model
{
    position: relative;
    z-index: 10;
    bottom: 60vh;
    left: 45vw;
    width: 100vw;
    height: 100vh;
    display: none;
}

#g2_model
{
    position: relative;
    z-index: 10;
    bottom: 70vh;
    left: 30vw;
    width: 100vw;
    height: 100vh;
    display: none;
}

#g1_model
{
    position: relative;
    z-index: 10;
    bottom: 70vh;
    left: 10vw;
    width: 100vw;
    height: 100vh;
    display: none;
}

#g3_model
{
    position: relative;
    z-index: 10;
    bottom: 70vh;
    left: 10vw;
    width: 100vw;
    height: 100vh;
    display: none;
}

#g7_model
{
    position: relative;
    z-index: 10;
    bottom: 70vh;
    left: 10vw;
    width: 100vw;
    height: 100vh;
    display: none;
}

#g9_model
{
    position: relative;
    z-index: 10;
    bottom: 70vh;
    left: 20vw;
    width: 100vw;
    height: 100vh;
    display: none;
}

#g4_model
{
    position: relative;
    z-index: 10;
    bottom: 70vh;
    left: 20vw;
    width: 100vw;
    height: 100vh;
    display: none;
}

#a1_content
{
    display: none;  
    z-index: 999; 
}

#a2_content
{
    display: none;  
    z-index: 999; 
}

#a3_content
{
    display: none;  
    z-index: 999; 
}

#a4_content
{
    display: none;  
    z-index: 999; 
}

#a5_content
{
    display: none;  
    z-index: 999; 
}

#a6_content
{
    display: none;  
    z-index: 999; 
}

#flow
{
    width: 5vw;
    height: 5vh;
    /* background-color: black; */
    position: absolute;
    bottom: 52vh;
    left: 21vw;
    z-index: 5;
}

#flow:hover
{
    cursor: pointer;
}

#agregate
{
    width: 9vw;
    height: 4vh;
    /* background-color: black; */
    position: absolute;
    bottom: 47vh;
    left: 25vw;
    z-index: 6;
}

#agregate:hover
{
    cursor: pointer;
}

#crack_ooze
{
    width: 9vw;
    height: 4vh;
    /* background-color: black; */
    position: absolute;
    bottom: 38vh;
    left: 32vw;
    z-index: 5;
}

#crack_ooze:hover
{
    cursor: pointer;
}

#terra
{
    width: 5vw;
    height: 4vh;
    /* background-color: black; */
    position: absolute;
    bottom: 29vh;
    left: 33vw;
    z-index: 5;
}

#terra:hover
{
    cursor: pointer;
}

#corrosion
{
    width: 7vw;
    height: 4vh;
    /* background-color: black; */
    position: absolute;
    bottom: 22vh;
    left: 40vw;
    z-index: 5;
}

#corrosion:hover
{
    cursor: pointer;
}

#moss-grows
{
    width: 8vw;
    height: 4vh;
    /* background-color: black; */
    position: absolute;
    bottom: 41vh;
    left: 45vw;
    z-index: 5;
}

#moss-grows:hover
{
    cursor: pointer;
}

#pile-crack
{
    width: 8vw;
    height: 4vh;
    /* background-color: black; */
    position: absolute;
    bottom: 59vh;
    left: 51vw;
    z-index: 5;
}

#pile-crack:hover
{
    cursor: pointer;
}

#erosion
{
    width: 12vw;
    height: 4vh;
    /* background-color: black; */
    position: absolute;
    bottom: 40vh;
    left: 62vw;
    z-index: 5;
}

#erosion:hover
{
    cursor: pointer;
}

#strata
{
    width: 6vw;
    height: 4vh;
    /* background-color: black; */
    position: absolute;
    bottom: 36vh;
    left: 79vw;
    z-index: 5;
}

#strata:hover
{
    cursor: pointer;
}

#words1_content
{
    display: none;  
    z-index: 999; 
}

#words2_content
{
    display: none;  
    z-index: 999; 
}


#words3_content
{
    display: none;  
    z-index: 999; 
}


#words4_content
{
    display: none;  
    z-index: 999; 
}


#words5_content
{
    display: none;  
    z-index: 999; 
}


#words6_content
{
    display: none;  
    z-index: 999; 
}


#words7_content
{
    display: none;  
    z-index: 999; 
}

#words8_content
{
    display: none;  
    z-index: 999; 
}

#words9_content
{
    display: none;  
    z-index: 999; 
}

/* ---End Styling Content of Pointers ---  */

/* ---Start Styling Magnifier ---  */

.img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 200px;
    height: 200px;
    z-index: 999;
  }

  /* ---End Styling Magnifier ---  */

/* ---CHECK SCREEN SIZE FOR MOBILE / TABLET---  */

@media only screen and (max-width: 1024px) 
{
    body, html 
    {
        height: 100%;
        width: 100%;
        margin: 0;
        overflow: scroll;
    }

    * {
        box-sizing: border-box;
      }

    #base
    {
        display: none;
        z-index: 0;
    }

    .loader-wrapper
    {
        display: none;
    }

    #overlay 
    {
        position: fixed; /* Sit on top of the page content */
        display: block; 
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.9); /* Black background with opacity */
        z-index: 50; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        overflow-y: scroll;
    }
    
        #text
    {
        color: white;
        text-align: center;
        position: relative;
        font-size: x-large;
        font-family: Elephant;
        top: 20%;
        left: 10%;
        display: block; 
        width: 80%;
    }

        #ellipsesLogo
        {
            display: block;
            width: 50px;
            height: auto;
            margin: auto;
            z-index: 999;
        }

        .baseImageMobile
        {
            /* Full height */
            height: 764px;
            width: 5000px;
          
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("../assets/images/BaseMobile.jpg");
            z-index: 900;
        }

    ::-webkit-scrollbar-thumb 
        {
            background-color: white;
        }
}

@media only screen and (min-width: 1025px)
{
    #base
    {
        display: block;
    }

    .loader-wrapper
    {
        display:flex;
    }

    .showOnMobile
    {
        display: none;
    }

    #overlay 
    {
        display: none;
    }
    
    #text
    {
        display: none;
    }

    #ellipsesLogo
    {
        display: none;
    }

    .mobileT4Block
    {
        display: none;
    }
    
    .mobileT3Block
    {
        display: none;
    }
    
    .mobileT2Block
    {
        display: none;
    }
    
    .mobileT1Block
    {
        display: none;
    }
}